
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Poppins', sans-serif;
  padding-top: 80px; /* Space for the fixed header */
}

#main-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Full-screen intro overlay */
#intro-logo {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Logo zoom and fade */
#intro-logo img {
  width: 100px;
  height: auto;
  animation: zoomFade 2.5s ease-in-out forwards;
}

/* Keyframes for logo */
@keyframes zoomFade {
  0% {
    opacity: 1;
    transform: scale(0.5) rotate(0deg);;
  }
  70% {
    opacity: 1;
    transform: scale(3.8) rotate(0deg);;
  }
  100% {
    opacity: 0;
    transform: scale(5.8) rotate(-360deg);;
  }
}

/* Header styles */
@media (max-width: 768px) { 
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  height: 60px;
  display: flex;
  justify-content: space-between; /* Ensures left and right alignment */
  align-items: center;
  padding: 0 20px;
 box-shadow: 0 4px 6px rgba(2, 61, 144, 0.53); /* Subtle shadow under header */
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}
}
.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 60px;
  width: 160px;
  object-fit: contain;
}

h1 {
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds a shadow effect to make the title pop */
}

.nav {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  gap: 5px;
  margin: 15px 0; /* Add top and bottom space */
}

.nav a {
  background-color: #006699;
  color: white;
  padding: 12px 0;         /* Adjust top-bottom and left-right spacing */
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;            /* Control text size */
  min-width: 100px;           /* Minimum width of each nav box */
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;              /* Optional: space between buttons */
  transition: all 0.3s ease;
}

 .nav-links {
  display: flex;
  align-items: center;
}
  .nav-links.show .nav {
  display: flex; /* Show the nav links when hamburger is clicked */
}

.nav a:hover {
  background-color: #39aae2;
  transform: translateY(-3px)scale(1.1); /* Slight hover effect */
  box-shadow: 0 4px 6px rgba(10, 9, 9, 0.83); /* Increase shadow on hover */
}
.nav a:active {
  background-color: #004466;
  transform: translateY(2px); /* Slight press effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow on click */
}
/* Font Awesome Icon Styling in Navigation */
.nav a i {
  margin-right: 6px;/* Space between icon and text */
  font-size: 13px;
}

/* Icon Buttons in Footer */
.footer-section a i {
  margin-right: 10px; /* Space between icon and text */
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-section a:hover i {
  color: #00bfff; /* Icon color change on hover */
}

/* Button hover effects */
.nav a:hover i,
.footer-section a:hover i {
  transform: translateX(5px); /* Slight hover movement for icons */
}

/* Hero section styles */
.hero {
  position: relative;
  top: -20px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

@media (max-width: 768px) { 
.hero {
  position: relative;
  top: -20px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* Video with overlay */
  @media (max-width: 768px) {
.hero-video {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
  }
  
.hero-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(36, 137, 231, 0.66), rgba(60, 171, 236, 0.6)); /* Dark overlay with gradient */
  z-index: 2;
}

@media (max-width: 768px) {
.hero-content {
  position: relative;
  z-index: 3;
  max-width: 90%;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.73); /* Shadow on text */
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Shadow on header */
}

.hero-content p {
  font-size: 1.5rem;
}
}
}
/* Additional style for typed text */
#typed-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e5ff34;
  display: inline-block;
  margin-top: 10px;
}
/* Ribbon Section */
.ribbon {
  background-color: #ffffff;
  padding: 30px 30px;
}

.ribbon-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  background-color: #006699;
  color: white;
  padding: 60px;
  border-radius: 8px;
  width: calc(50% - 20px); /* 2 boxes per row with some spacing */
  margin-bottom: 40px;
  text-align: center;
  opacity: 1; /* Start with invisible */
  transform: translateY(30px)scale(1); /* Start with offset */
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* Zoom effect on hover */
.box:hover {
  transform: translateY(0) scale(1.08);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.box h3 {
  font-size: 22px;
  color: #100808; /* bright white */
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.box p {
  font-size: 16px;
  color: #47b2d6; /* soft light blue for contrast */
    font-weight: bold;
  line-height: 1.6;
}
.section-title {
  text-align: center;
  font-size: 28px;
  color: #006699;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #006699;
  display: block;
  margin: 10px auto 0;
  border-radius: 3px;
}

/* When the box is in view, make it visible and move it to its original position */
.box.in-view {
  opacity: 1; /* Make it visible */
  transform: translateY(0) scale(1.05); /* Slight scale-up effect */
}

/* When the box is out of view (when scrolling up), apply fade-out and shrink effect */
.box.out-of-view {
  opacity: 0; /* Make it invisible */
  transform: translateY(30px) scale(0.95); /* Shrink and move down */
}

@media (max-width: 768px) {
  .box {
    width: 100%; /* Stacks the boxes vertically on smaller screens */
  }
}

/* Dynamic Glow using ::before */
.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(0, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(0, 255, 255, 0.1) 100%
  );
  transform: rotate(25deg);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Show shimmer on hover */
.box:hover::before {
  animation: glowSweep 1.2s linear forwards;
  opacity: 1;
}

/* Keyframes for sweeping glow animation */
@keyframes glowSweep {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }
  100% {
    transform: translateX(100%) rotate(25deg);
  }
}
    
/* Grid Layout */
.graphic-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  gap: 25px;
  padding: 10px 20px;
}

/* Each Box Style */
.gbox {
  background-color: #006699;;
  padding: 16px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: perspective(600px) rotateX(0deg) rotateY(0deg);
  transition: transform 0.2s ease, box-shadow 0.4s ease;
  opacity: 1;
  transform-style: preser ve-3d;
}
@media (max-width: 768px) {
  .gbox:active {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

/* Zoom effect on hover */
.gbox:hover {
  transform: perspective(600px) scale(1.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
  z-index: 2;
}

/* Title and Text */
.gbox h3 {
  font-size: 22px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.gbox p {
  font-size: 15px;
  color: #fdfdfd;
}
/* Adjust font style for smaller screens */
@media (max-width: 900px) {
  .gbox h3 {
    font-size: 18px;
  }
  .gbox p {
    font-size: 14px;
  }
}


/* Scroll-in Animation */
.scroll-box.in-view {
  opacity: 1;
  transform: translateY(0);
}

.scroll-box.out-of-view {
  opacity: 0;
  transform: translateY(40px);
}

/* Typography */
.gbox h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
  text-transform: uppercase;
}

.gbox p {
  font-size: 15px;
  color: #ffffff;
}

.gbox i {
  font-size: 36px;
  color: #111313; /* Optional: custom color */
  margin-bottom: 12px;
}

/* Responsive: Stack on small screens */
@media (max-width: 900px) {
  .box-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .box-grid {
    grid-template-columns: 1fr;
  }
}

.footer {
  background-color: #006699;
  color: white; 
  font-size: 14px;
  padding: 10px 40px; 
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 30px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 30px 10px;
  max-width: 1200px;
  margin: 0 auto 30px;
  gap: 10px;
}

.footer-column {
  flex: 1 1 20%;
  min-width: 150px;
  text-align: left;
}

.footer-column h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
    position: relative;
  display: inline-block;
  border-bottom: 2px solid #f8f8f8;
  text-transform: uppercase;
}

.footer-column ul {
  list-style: none;
  
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 10px 0;
  font-size: 1em;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-column ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #00d4ff;
  transition: width 0.3s ease;
}

.footer-column ul li a:hover {
  color: #00d4ff;
  transform: translateX(5px);
}

.footer-column ul li a:hover::after {
  width: 100%; /* underline appears smoothly */
}

.footer-line {
  height: 1px;
  background-color: #00d4ff;
  margin: 30px auto;
  max-width: 900px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-social ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;
  font-size: 18px;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 212, 255, 0.4);
}

.footer-social ul li a:hover {
  background-color: #00d4ff;
  color: #003344;
  transform: scale(1.5) rotate(360deg);
  box-shadow: 0 0 15px #00d4ff, 0 0 30px #00d4ff;
}

.footer-copy {
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    text-align: center;
  }

}

#backToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #045a85;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 999;
  box-shadow: 0 0 15px rgba(0, 102, 153, 0.6);
  transition: transform 0.3s ease;
}

#backToTop:hover {
  transform: scale(1.1);
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
  pointer-events: none;
}

.progress-ring circle {
  fill: none;
  stroke: #00d4ff;
  stroke-width: 4;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.35s;
}

.about-us {
  background-color: #f4f4f4;
margin-top: -20px;
margin-bottom: -20px;
  padding: 50px 20px;
}

.section-title {
  text-align: center;
  font-size: 28px;
  color: #006699;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #006699;
  display: block;
  margin: 10px auto 0;
  border-radius: 3px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/* About Us Section */
.about-us {
  background-color: #f4f4f4;
  padding: 50px 20px;
}

.section-title {
  text-align: center;
  font-size: 28px;
  color: #006699;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #006699;
  display: block;
  margin: 10px auto 0;
  border-radius: 3px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.about-intro {
  font-size: 1.2rem;
  color: #333;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  line-height: 1.6;
  padding: 0 15px;
}
.about-box {
  background-color: #006699;
  color: white;
  padding: 40px;
  border-radius: 8px;
  width: 23%; /* Adjusted to fit 4 boxes in one line */
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.3s ease, opacity 1s ease, box-shadow 0.4s ease;
}

/* Title and Text */
.about-box h3 {
  font-size: 22px;
  color: #1cc1ee;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-box p {
  font-size: 16px;
  line-height: 1.6;
}

/* Hover Effect */
.about-box:hover {
  transform: translateY(-10px) scale(1.1); /* Zoom-in effect */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* Increase shadow for hover effect */
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* When the box is in view, make it visible and move it to its original position */
.about-box.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .about-box {
    width: 48%; /* Adjusts for tablets */
  }
}

@media (max-width: 768px) {
  .about-box {
    width: 100%; /* Stacks the boxes vertically */
    margin-bottom: 20px;
  }
}

.section-heading {
  text-align: center;
  font-size: 2rem;
  color: #006699;
  margin-bottom: 40px;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
}

.section-heading::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #006699;
  display: block;
  margin: 10px auto 0;
  border-radius: 3px;
}

.service-intro {
  font-size: 1.2rem;
  color: #333;
  max-width: 900px;
  margin: 40px auto 20px;
  text-align: center;
  line-height: 1.6;
  padding: 0 15px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.service-box {
  background: #006699;
  width: calc(25% - 20px); /* 4 per row */
  min-height: 200px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.service-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.service-box h3 {
  margin-bottom: 10px;
  color: #3edfff;
}

.service-box p {
  font-size: 0.95rem;
  color: #ffffff;
}

.service-box i {
  font-size: 36px;
  color: #3edfff;
  margin-bottom: 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.service-box:hover i {
  transform: scale(1.2) rotate(-10deg);
  color: #00d4ff;
}

/* Responsive styles */
@media (max-width: 992px) {
  .service-box {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .service-box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .service-box {
    width: 100%;
  }
}

.contact-section {
  max-width: 800px;
  margin: 10px auto;
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 80px 40px;
  background-color: #006699;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.form-group {
  margin-bottom: 10px;
  font-size: 1.95rem;
  color: #000000;
}

.form-group label {
  font-size: 1.5rem;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group input {
  font-size: 1.5rem;
  color: #006699;
  display: block;
  margin-bottom: 10px;
}

.form-group textarea {
  font-size: 1.5rem;
  color: #006699;
  display: block;
  margin-bottom: 10px;
}


input::placeholder,
textarea::placeholder {
  color: #006699; /* Your desired color */
  opacity: 1;  /* Ensures full visibility */
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}
 
  
.contact-form button {
  background-color: #f2f4f5;
  color: #006699;
  font-style: bold;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #006699;
  color: white;
  border: groove;
}
.contact-heading {
  text-align: center;
    flex-wrap: wrap;
  font-size: 2rem;
  color: #eaeaea;
  margin-bottom: 40px;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
}

.contact-heading::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #006699;
  display: block;
  margin: 10px auto 0;
  border-radius: 3px;
}

.contact-down {
  text-align: center;
    flex-wrap: wrap;
  font-size: 1rem;
  color: #eaeaea;
  margin-bottom: 10px;
  margin-top: -10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
}

.contact-down::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #006699;
  display: block;
  margin: 10px auto 0;
  border-radius: 3px;
}

.tele-section {
  display: flex;
   align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 20px;
  gap: 20px;
}

.tele-box {
   background: linear-gradient(135deg, #006699, #3edfff);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  padding: 90px;
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.tele-box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #0077cc33, transparent 70%);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.tele-box:hover {
  transform: translateY(-10px) scale(1.5);
  border-color: #0077cc;
  box-shadow: 0 15px 35px rgba(0, 119, 204, 0.25);
}

.tele-box:hover::before {
  opacity: 1;
}


.tele-box h3 {
  margin-bottom: 10px;
  color: #3edfff;
  transition: color 0.3s ease;
}

.tele-box p {
  font-size: 1.4rem;
  color: #ffffff;
}

.tele-box h2 {
  font-size: 1rem;
  color: #ffffff;
}

.tele-box li {
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.service-box:hover li {
  transform: scale(1.2) rotate(-10deg);
  color: #00d4ff;
}

.support-section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.section-heading {
  font-size: 32px;
  color: #006699;
   margin-top: 10px;
  margin-bottom: 50px;
}

.support-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.support-card {
  background: #006699;
  border-radius: 15px;
  padding: 30px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.support-card:hover {
  transform: scale(1.05);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

.support-card i {
  font-size: 40px;
  color: #00d4ff;
  margin-bottom: 10px;
}

.support-card:hover i {
  transform: scale(1.2) rotate(-10deg);
  color: #00d4ff;
}

.support-card h3 {
  font-size: 20px;
  color: #00d4ff;
  margin-bottom: 12px;
}

.support-card p {
  font-size: 15px;
  color: white;
}

.blog-heading {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 30px;
}

.blog-heading h2 {
  font-size: 2rem;
    color: #006699;
  margin-bottom: 15px;
}

.blog-heading p {
  color: #000000;
  margin-bottom: 15px;
}

/* Blog Grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 10px 20px 60px;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  border-radius: 10px;

}

/* Blog Card Styles */
.blog-card {
  background-color: #006699;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(6, 61, 144, 0.6);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 22px rgba(36, 156, 211, 0.34);
}

.blog-icon {
  font-size: 2.5rem;
  color: #00d4ff;
  margin-bottom: 10px;
}

.blog-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
}

.blog-card p {
  font-size: 0.95rem;
  color: white;
  margin-bottom: 15px;
}

.blog-card a {
  color: #006699;
  font-weight: bold;
  text-decoration: none;
}

.blog-card a:hover {
  text-decoration: underline;
}

/* Optional Styling for Background Effect */
.blog-section {
  padding: 40px;
  border-radius: 12px;
  margin-top: -100px;
  margin-bottom: -60px;
}

.blog-card:hover i {
  transform: scale(1.2) rotate(-10deg);
  color: #00d4ff;
}

.faq-section {
    margin: -60px auto;
    padding: 40px 20px;
  margin-bottom: 10px;
}

.faq-header {
    text-align: center;
    padding: 40px 20px;
    color: #006699;
    font-size: 24px;
    margin-bottom: 20px;
}

.faq-container {
    display: flex;
    flex-direction: column;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-question {
    width: 100%;
    text-align: left;
    background: linear-gradient(135deg, #006699, #00d4ff);
    color: white;
    border: none;
    padding: 25px;
    font-size: 16px;
    cursor: pointer;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-question:hover {
    background: linear-gradient(135deg, #00d4ff, #006699);
    transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background: rgba(113, 224, 247, 0.63);
  color: balck;
    padding: 0 15px;
    font-size: 14px;
}

.faq-answer ul {
    padding-left: 20px;
}

.faq-answer p {
    margin: 10px 0;
}

.faq-question.active {
    background: #0f78bd;
}
.container1 {
    width: 85%;
    margin: 40px auto;
    padding: 40px;
    background-color: rgba(53, 176, 210, 0.28);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #27bcdc;
}

.read-more:hover {
    text-decoration: underline;
}

.privacy-section {
  max-width: 900px;
  margin: -10px auto;
  padding: 40px;
  background: #006699;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(52, 159, 218, 0.46);
}

.privacy-section h1 {
  text-align: center;
    color: #00d4ff;
  
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.privacy-section h2 {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #00d4ff;
}

.privacy-section p, .privacy-section li {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 10px;
}

.privacy-section ul {
  padding-left: 20px;
}

.terms-section {
  max-width: 900px;
  margin: -10px auto;
  padding: 40px;
  background: #006699;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(17, 126, 177, 0.56);
}

.terms-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #00d4ff;
}

.terms-section h2 {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #00d4ff;
}

.terms-section p,
.terms-section li {
  font-size: 1rem;
  color: white;
  line-height: 1.6;
  margin-bottom: 10px;
}

.terms-section ul {
  padding-left: 20px;
}
